<script type="text/javascript">
	$(document).ready(function() {
		$('.nav').navgoco({
		   accordion: true,
		   openClass: 'open',
		   save: true,
		    cookie: {
				  name: 'navgoco',
				  expires: false,
				  path: '/'
			  },
			onClickAfter: function(e, submenu) {
				if(submenu == false)
				{
					var position = $($(this).attr("href")).offset().top - 150;
    $("html, body").animate({scrollTop: position}, 400);
	}
		}
		});
  
});
</script>
<ul id="sidelist" class="nav">
{% if page.category == "Core" %}
{% for item in site.data.sidebar.core %}
<li class="tag-h1"><a href="#" target="_self">{{item.title}}</a>
<ul class="nav2">
{% for entry in item.subfolderitems %}
<li class="tag-h2"><a href="#{{entry.url}}" target="_self">{{entry.page}}</a></li>
{% endfor %}
</ul>
</li>
{% endfor %}
{% endif %}
{% if page.category == "Intro" %}
{% for item in site.data.sidebar.intro %}
<li class="tag-h1"><a href="#{{item.url}}" target="_self">{{item.title}}</a>
</li>
{% endfor %}
{% endif %}
{% if page.category == "Final" %}
{% for item in site.data.sidebar.final %}
<li class="tag-h1"><a href="#{{item.url}}" target="_self">{{item.title}}</a>
</li>
{% endfor %}
{% endif %}
{% if page.category == "Adventures" %}
{% for item in site.data.sidebar.adventures %}
<li class="tag-h1"><a href="#{{item.url}}" target="_self">{{item.title}}</a>
</li>
{% endfor %}
{% endif %}
{% if page.category == "Arch" %}
{% for item in site.data.sidebar.arch %}
<li class="tag-h1"><a href="#{{item.url}}" target="_self">{{item.title}}</a>
</li>
{% endfor %}
{% endif %}
{% if page.category == "Addons" %}
{% for item in site.data.sidebar.addons %}
<li class="tag-h1"><a href="#" target="_self">{{item.title}}</a>
<ul class="nav2">
{% for entry in item.subfolderitems %}
<li class="tag-h2"><a href="#{{entry.url}}" target="_self">{{entry.page}}</a></li>
{% endfor %}
</ul>
</li>
{% endfor %}
{% endif %}
</ul>