<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
	<style>
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Overpass+Mono&family=Roboto+Mono&display=swap');
</style>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
	<base target="_blank">
  </head>
  <body>
      <div id="header">
        <nav>
		<h1>{{ site.title }}</h1>
		<p>{{ site.description }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="./changelog.html" target="_self">Changelog</a></p>
		<div>
		<ul>
		<li><a href="./index.html" target="_self">Introduction</a></li>
		<li><a href="./core.html" target="_self">Core Pg 1</a></li>
		<li><a href="./core2.html" target="_self">Core Pg 2</a></li>
		<li><a href="./core3.html" target="_self">Core Pg 3</a></li>
		<li><a href="./core4.html" target="_self">Core Pg 4</a></li>
		<li><a href="./core5.html" target="_self">Core Pg 5</a></li>
		<li><a href="./adventures.html" target="_self">Adventures</a></li>
		<li><a href="./arch.html" target="_self">Project Arch</a></li>
		<li><a href="./addons.html" target="_self">Addons</a></li>
		<li><a href="./final.html" target="_self">Final Steps</a></li>
		</ul>
		</div>
        </nav>
      </div><!-- end header -->

    <div id="wrapper">
	<nav>
        <ul id="sidelist"></ul>
      </nav>
      <section>
        {{ content }}

      </section>

    </div>
  </body>
</html>